@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "Inter", sans-serif;
}

.signup-container{
    display: flex;
    padding: 191px 207px 191px 120px;
    gap: 163px;
}

.image>img{
    width: 510px;
    height: 529px;
}

.signup-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.signup{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.signup>h1{
    font-size: 32px;
}

.signup>p{
    font-size: 16px;
    color: #8E8E93;
}

.user-signup{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.user-input{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
}

.user-input>input{
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #8E8E93;
    width: 440px;
    height: 51px;
}