@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: "Inter", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    align-items: center;
    border-bottom: 1px solid #CBCBCB;
}

.quiz-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.questionHeading{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.questionHeading>h1{
    font-size: 61px; 
}
